<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>プロトタイプ_相談ページ</title>
<link href="css/category.css" rel="stylesheet" />
</head>
<body style="margin-top:0px; margin-right:0px; margin-left:0px; margin-bottom:0px;">
    <header>
        <h1 id="title">相談ページ</h1>
        <nav class="navigate">
            <ul>
                <li><a href="./main.html">メイン画面へ</a></li>
                <li>ステータス：匿名</li>
                <li><a href="./index.html">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <div id="wrapper">
        <div class="category" style="border: #ff69b4 solid 1px; border-left: #ff69b4 solid 8px; padding: 20px; font-size: 100%;">
        <p>カテゴリ一覧</p><br />
            <details><summary>技術</summary>
                    <ul>
                        <li>ツール</li>
                        <li>フロントエンド</li>
                        <li>バックエンド</li>
                    </ul>
                </details>
                <details><summary>保険</summary>
                    <ul>
                        <li>東京海上日動</li>
                        <li>損害保険</li>
                        <li>生命保険</li>
                    </ul>
                </details>
        </div>
        <div class="bulletin">
            <table>
                <tr>
                    <th>タイトル</th>
                    <th>内容</th>
                    <th>作成日時</th>
                    <th>ステータス</th>
                </tr>
                <tr>
                    <th>Webアプリ作成について</th>
                    <th>アプリ制作難しくない？</th>
                    <th>2024-05-15</th>
                    <th>質問中</th>
                </tr>
                <tr>
                    <th>部署について</th>
                    <th>みんなもう決めた？</th>
                    <th>2024-05-11</th>
                    <th>解消済み</th>
                </tr>
                <tr>
                    <th>保険難しい</th>
                    <th>生命か損害か分からなくなってきた</th>
                    <th>2024-05-03</th>
                    <th>質問中</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>